body {
    position: relative;
}

.header {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 100;
    background-color: #141824 !important;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align: center;
}

.header.shrink {
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.148);
}

.header .logo {
    width: 170px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink .logo {
    width: 140px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.icn {
    color: white;
    font-size: 24px;
}

.lite {
    background-color: #222433;
    box-shadow: rgba(137, 137, 137, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: fixed;
    top: 0%;
    right: 0px;
    height: 100vh;
    width: 25em;
    padding-top: 6em;
    z-index: 90 !important;
}


.sticky {
    position: fixed;
    top: 19em;
    left: 5%;
    width: auto;
    padding-top: 5%;
    padding: 0px;
    box-shadow: #f9b40537 0px 1px 3px 0px, rgba(139, 139, 139, 0.187) 0px 0px 0px 1px;
    border-radius: 10px;

}

.sticky i {
    font-size: 22px;
}

.sticky li:hover i {
    color: #FFB700;
}

.lite.animate__slideInRight {
    --animate-duration: 500ms !important;
    --animate-delay: 0s !important;
}

.menuIcn {
    background-color: #31343d23;
    box-shadow: #f9b40537 0px 1px 3px 0px, rgba(139, 139, 139, 0.187) 0px 0px 0px 1px;
    border-radius: 0px !important;
    padding: 0px;
    color: white;
    z-index: 100 !important;
}

.menuIcn:hover {
    border-radius: 0px !important;
}

.swap {
    border-radius: 0px !important;
}

.lite i {
    font-size: 20px;
    color: #c9c9c9;
}