header {
    position: fixed;
    width: 100%;
    top: 0px;
}

.icn {
    color: white;
    font-size: 22px;
}

.lite {
    background-color: #161A28;
    box-shadow: rgba(137, 137, 137, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.menuIcn {
    background-color: #31343d23;
    box-shadow: #f9b40537 0px 1px 3px 0px, rgba(139, 139, 139, 0.187) 0px 0px 0px 1px;
    border-radius: 0px;
    padding: 0px;
    color: white;
}

.lite i {
    font-size: 20px;
    color: #c9c9c9;
}