.HeroSec {
    position: relative;
    padding: 0px 0px 60px 0px;
}


.HeroSec:after {
    content: '';
    background: url('../../images/heroBg2.webp') no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -200;
    opacity: 0.6;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.hero {
    margin: 0px auto 0px auto;
}

i,
svg,
footer {
    z-index: 0 !important;
}

.info {
    margin-bottom: -40px;
}

.badge {
    padding: 13px;
    background-color: #ffb700f1;
    color: #252525;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.info h1 {
    font-family: 'Roboto Mono', monospace !important;
    line-height: 55px;
    font-weight: 500;
    color: #FAFAFA;
    letter-spacing: 1.25px;
    font-size: 40px;
}

.codeIcn {
    font-size: 30px;
    margin: 0px 0px -10px 5px;
    color: #4a4c53;
}

.sweet-loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSec {
    position: relative;
    z-index: 0;
}

.icnReact {
    width: 120px;
    position: absolute;
    bottom: 4em;
    left: 3em;
    z-index: 0 !important;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.icnNode {
    width: 160px;
    position: absolute;
    bottom: 0em;
    right: 0em;
    z-index: -10 !important;
    animation: float 3s ease-in-out infinite;
}


.icnJs {
    width: 100px;
    position: absolute;
    top: 10em;
    right: 4em;
    z-index: 0 !important;
    animation: float 5s ease-in-out infinite;
}

.mainBtn {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: 'Roboto Mono', monospace !important;
}

.mainBtn i {
    font-size: 18px;
    margin: 0px 5px;
    color: #141824;
    background-color: #25262A;
    padding: 10px;
    border-radius: 50%;
    padding: 8px;
    font-weight: 900 !important;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #f09819 0%, #f7ff04 100%);
}

.mainBtn {
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 08px;
    border: 0px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Roboto Mono', monospace !important;
    letter-spacing: 1px;

}

.mainBtn:hover {
    color: #F2AE02;
    text-decoration: none;
    transform: translateY(-3px);
}

.mainBtn:active {
    transform: scale(0.95);
}


.counter h3 {
    font-size: 40px;
    margin-right: 10px;
    font-weight: 500;
    color: #FAFAFA;
    margin-right: 15px !important;
}

.counters {
    max-width: 535px;
    background-color: #272b3293;
    border-radius: 15px;
    margin-top: 30px;
    z-index: -10 !important;
}

.counter2nd {
    position: relative;
}

.counter2nd::before {
    content: '';
    width: 1px;
    background-color: #8a92a953;
    height: 50px;
    position: absolute;
    left: -2.5em;
}

/* About sec css start */

.aboutSec {
    padding: 70px 0px;
    background-color: #252732b3;
    z-index: -20;
}

.globalIcn {
    font-size: 22px;
    color: #141824;
    background-color: #25262A;
    padding: 10px;
    border-radius: 50%;
    padding: 8px;
    font-weight: 900 !important;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #f09819 0%, #f7ff04 100%);
}

.Ainfo h1 {
    font-family: 'Roboto Mono', monospace !important;
    line-height: 55px;
    font-weight: 400;
    color: #FAFAFA;
    letter-spacing: 1.5px;
}

.Ainfo p {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 350;
    letter-spacing: 1.2px;
}


.skill {
    padding: 30px 20px 20px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    background-color: #222433;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.skill:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #242534;
}


.skill p {
    font-size: 20px;
    color: rgb(244, 244, 244);
}

.tailwind {
    padding: 10px 0px;
}


.projectSec {
    padding: 70px 0px;
    background-color: #222433;
}

.allProjects {
    overflow: hidden !important;
}

.projectInner {
    min-height: 600px;
    border-radius: 10px;
    background-size: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    transition: 0.6s;
    overflow: hidden !important;
    background-color: #333142;
}


.projectInner:hover {
    background-size: 102%;
    cursor: pointer;
    overflow: hidden !important;
}

.projectInner h1 {
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    font-size: 25px;
    font-weight: 400;
}


.projectInner .avatar-group .avatar {
    overflow: hidden;
    border-radius: 9999px;
    border: 2px solid #373742;
}

.LinkBtn {
    color: #222433;
    padding: 9px 12px 5px 12px;
    font-size: 22px;
    background-image: linear-gradient(45deg, #f09819 20%, #f7ff04 100%);
    border-radius: 50%;
    transition: 0.6s;
}

.LinkBtn:hover {
    background-image: linear-gradient(40deg, #F8B205 30%, #f7ff04 100%);
}

/* Contact css */

.contactSec {
    padding: 80px 0px;
    background-color: #222433;
}

.contactInner h1 {
    font-size: 23px;
    font-family: 'Roboto Mono', monospace !important;
    line-height: 40px;
    font-weight: 400;
    color: #FAFAFA;
    letter-spacing: 1.5px;
}

.ContactSecHeader h1 {
    font-size: 33px;
    font-family: 'Roboto Mono', monospace !important;
    line-height: 40px;
    font-weight: 400;
    color: #FAFAFA;
    letter-spacing: 1.5px;
}


.contactIcn {
    background-color: #373a4f;
    padding: 18px;
    font-size: 28px;
    border-radius: 50%;
    color: #dadada;
    margin: 20px 13px 20px 0px;
    font-weight: 100;
}

.icnInfo p {
    color: white;
}

.icnInfo h3 {
    color: white;
    font-size: 17px;
    margin-top: 2px;
    font-family: 'Roboto Mono', monospace !important;
}


.icnBox:hover .contactIcn {
    background-color: #fcb708;
    color: #222433;
    transition: 0.2s ease-in;
}

input,
select,
textarea {
    background-color: #292b3b00 !important;
    border-radius: 2px !important;
}

option {
    background-color: #222433 !important;
    border-radius: 2px !important;
    font-weight: 400 !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 20px;
}

.submitBtn {
    padding: 10px 24px;
    background-image: linear-gradient(45deg, #f09819 10%, #f1e608 100%);
    color: #2B2E45 !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 25px !important;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.contactForm {
    border-left: 1px solid rgba(128, 128, 128, 0.253);
}


.contactForm h3 {
    color: white;
    font-family: 'Roboto Mono', monospace !important;
    margin-bottom: 20px;
}


.contactInfo {
    background-color: #3032533a;
    padding: 40px;
    border-radius: 10px;
}



@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* Float animation */

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}